body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #e74c3c;
    padding: 10px;
    text-align: center;
    color: #fff;
    width: 100%;
    position: fixed; /* Fixed position at the top */
    top: 0; /* Align to the top */
    z-index: 1000; /* Ensure it's above other elements */
}

main {
    max-width: 800px;
    margin: 70px auto 20px; /* Adjusted margin to accommodate the fixed header */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.button-box {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#valentineQuestion {
    font-size: 20px;
    font-weight: bold;
    color: #e74c3c;
    transition: color 0.3s;
}

#noButton:hover + #valentineQuestion {
    color: #c0392b;
}

#valentineQuestion.dark {
    color: #c0392b;
}

#answerText {
    color: #c0392b;
}

#slideshow {
    display: none;
    margin-top: 20px;
    overflow: hidden;
}

#slideshow img {
    width: 100%; /* Make images fill the container */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
